#mainHeader{
    background-image: url('../image/dog1.jpg');
    background-color: #242424;
    background-position: center center;
    background-size: cover;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.uploadImages {
    display: block;
    width: 100%;
    background-color: transparent;
}

.uploadImages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.uploadImages li.image {
    float:left;
    margin: 5px;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-color:#eee;
    background-position: center center;
    border: 1px solid #ccc;

}