#mainHeader{
    background-image: url('../image/dog1.jpg');
    background-color: #242424;
    background-position: center center;
    background-size: cover;
    color:#fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

#uploadImages {
    display: block;
    width: 100%;
    background-color: transparent;
}

#uploadImages .image {
    float:left;
    margin: 5px;
    padding: 5px;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-color:#fff;
    background-position: center center;
    border: 1px solid #ccc;
}

#multiple_upload_form {
    display:block;
}


